<div class="container">
    <div class="row">
        <div class="col-12 ">
            <p class="fw-bold">Add a New Workout</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>Exercise Title:</p>
            <input type="text" size="30" class="form-control mb-2 border-0">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>Load (in kg):</p>
            <input type="text" size="30" class="form-control mb-2 border-0">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>Reps:</p>
            <input type="text" size="30" class="form-control mb-2 border-0">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 d-flex justify-content-end">
            <button class="btn btn-success">Add Workout</button>
        </div>
    </div>
</div>
