<div class="row bg-white mt-3 w-100 pb-2">
  <div class="col-12 my-1">
    <div class="row align-items-center m-0 h-30">
      <div class="col-6 p-0">
        <h5 class=" fw-bold text-66bead m-0">Situps</h5>
      </div>
      <div class="col-6 text-end p-0 h-100 pt-2">
        <a href="#" class="bi-trash3 text-dark bg-body-secondary rounded-5 py-1 px-2 mt-5"></a>
      </div>
    </div>
    <p class="fw-semibold m-0">Load (kg) 0</p>
    <p class="fw-semibold m-0">Reps: 50</p>
    <p class="m-0 mb-1">Less than a minute ago</p>
  </div>
</div>

<div class="row bg-white mt-3 w-100 pb-2">
  <div class="col-12 my-1">
    <div class="row align-items-center m-0 h-30">
      <div class="col-6 p-0">
        <h5 class=" fw-bold text-66bead m-0">Bench prees</h5>
      </div>
      <div class="col-6 text-end p-0 h-100 pt-2">
        <a href="#" class="bi-trash3 text-dark bg-body-secondary rounded-5 py-1 px-2 mt-5"></a>
      </div>
    </div>
    <p class="fw-semibold m-0">Load (kg) 35</p>
    <p class="fw-semibold m-0">Reps: 20</p>
    <p class="m-0 mb-1">17 minute ago</p>
  </div>
</div>

<div class="row bg-white mt-3 w-100 pb-2">
  <div class="col-12 my-1">
    <div class="row align-items-center m-0 h-30">
      <div class="col-6 p-0">
        <h5 class=" fw-bold text-66bead m-0">Hummer curl</h5>
      </div>
      <div class="col-6 text-end p-0 h-100 pt-2">
        <a href="#" class="bi-trash3 text-dark bg-body-secondary rounded-5 py-1 px-2 mt-5"></a>
      </div>
    </div>
    <p class="fw-semibold m-0">Load (kg) 15</p>
    <p class="fw-semibold m-0">Reps: 20</p>
    <p class="m-0 mb-1">about 14 hours ago</p>
  </div>
</div>

<div class="row bg-white mt-3 w-100 pb-2">
  <div class="col-12 my-1">
    <div class="row align-items-center m-0 h-30">
      <div class="col-6 p-0">
        <h5 class=" fw-bold text-66bead m-0">Arms curls</h5>
      </div>
      <div class="col-6 text-end p-0 h-100 pt-2">
        <a href="#" class="bi-trash3 text-dark bg-body-secondary rounded-5 py-1 px-2 mt-5"></a>
      </div>
    </div>
    <p class="fw-semibold m-0">Load (kg) 15</p>
    <p class="fw-semibold m-0">Reps: 15</p>
    <p class="m-0 mb-1">about 14 hours ago</p>
  </div>
</div>

